/* You can add global styles to this file, and also import other style files */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
	font: 13px Helvetica, Arial;
	height: 100vh;
	overflow-y: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.relative {
	position: relative;
}

.flex {
	display: flex;
}

.center {
	text-align: center;
}

#debug-window {
	position: fixed;
	top:0;
	right:0;
	width: 200px;
	color: #8c0000;
	padding-left: 5px;
	background-color: rgba(255,255,255,.7);
}

.draggable {
    cursor: -webkit-grab;
    cursor: grab;
}

.draggable:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
