#overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vW;
	background-color: black;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 1s; /* Safari */
	transition: opacity 1s;
	color: white;
	font-size: 500%;
	text-align: center;
}

#overlay-text {
	position: relative;
	top: 40%;
}
